.timebtn{
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 15%;
    background-color: indigo;
    color: white;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#timeDisplay{
    font-size: 75px;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#Tcon{
    text-align: center;
    border: 3px solid;
    border-radius: 15%;
    background-color: grey;
    width: 500px;
}
#background{
    height: 100vh;
    width: 100vw;
    background-color: rgb(12, 100, 100);
}